	
@font-face {
    font-family: "Flaticon";
    src:
         url("../font/flaticon.woff") format("woff"),
         url("../font/flaticon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  

  
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
      font-style: normal;
  }
  