.tt-list-inline li a {
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border: 2px solid #e4e6ef;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  padding: 4px 9px !important;
  margin: 0 2px 5px 0;
  background-color: transparent;
  color: #3c4043;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tt-list-inline li a:hover {

background-color: green;
border-color: green;
color: #fff !important;
}